@font-face {
  font-family: mm;
  src: url(font/eagle.otf);
}
@font-face {
  font-family: ft;
  src: url(font/poppins.ttf);
}

body {
  margin: 20px;
  background-color:#FF5733;
}
h1{
  font-family: mm;
}
